	
	body {
		background: url(../images/util/bg.png) repeat right top;
	}
	
	.shadow {
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 5px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0, 0, 0, 0.03);
	}
	
	.util-con {
		width: 100%;
		
		margin: 0 auto;
	}
	
	
	.util-ul {
		width: 100%;
		min-height: 700px;
		margin: 50px auto;
	}


	.child-con {
		width: 372px;
		height: 100px;
		display: inline-block;
		background-color: #fff;
		border-radius: 3px;
		border: 1px solid transparent;
		cursor: pointer;
		margin-left: 
	}
	
	.child-con a {
		display: inline-block;
		float: left;
		margin-left: 10px;

	}
	
	.child-con a img {
		width: 50px;
		height: 50px;
		margin-top: 26px;
	}

	.child-desc {
		display: inline-block;
		float: left;
		overflow: hidden;
		margin-top: 16px;
		margin-left: 30px;
	}

	.child-desc {
		width: 200px;
		height: 70px;
	}
	
	.child-desc h2 {
		width: 100%;
		height: 32px;
		line-height: 32px;
		color: #3498db;
		cursor: pointer;

	}

	.child-desc p {
		width: 100%;
		height: 40px;
		text-align: left;
		color: #767676;
		font-size: 14px;
	}
	
	.child-con:hover {
		border: 1px solid #3498db;
	}












	/*底部标识*/

	.footer-mark {
		
		width: 100%;
		height: 50px;
		line-height: 50px;
		margin-top: 30px;
		background-color: white;
		border: 1px solid #e4dede;
		text-align: center;
	}

	.footer-mark p {
		text-align: center;
		line-height: 50px;
		font-size: 14px;
		color: #767676;
		text-align: center;
	}

	.footer-mark a {
		font-size: 14px;
		color: #767676;
		cursor: pointer;
	}
