
	.zstx-main {
		margin: 0 auto;
	}

	.classfiy {
		background-color: #fff;
		position: relative;
	}

	.classfiy-frist,.classfiy-second {
		display: block;
		padding: 10 10px;
	}	

	.classfiy-frist div , .classfiy-sencond div {
		margin-left: 80px;
		display: block;
	}

	.classfiy-frist label,.classfiy-second label {
		margin-left: 5px;
		float: left;
	}

 	



	


	/*//导航*/
	
	body {
		background-color: #ebebeb;
	}	
	
	.w {
		width: 1260px;
		max-width: 1260px;
		min-width: 720px;
		
	}
	.sigleline {
		word-break:keep-all;           /* 不换行 */
		white-space:nowrap;          /* 不换行 */
		overflow:hidden;               /* 内容超出宽度时隐藏超出部分的内容 */
		text-overflow:ellipsis;   
	}
	.nav {
		width: 1903px;
		height: 60px;
		background-color: #276692;
	}

	.container-nav {
		position: relative;
		margin: 0 auto;
	}

	.left-nav,.left-ul,.left-logo {
		float: left;
	}
	.right-nav {
		float: right;
		overflow: hidden;
	}
	.left-ul li {
		float: left;
		height: 60px;
		display: inline-block;
		overflow: hidden;
	}
	.left-nav a {
		display: inline-block;
		height: 56px;
		line-height: 56px;
		cursor: pointer;
		color: #fff;
		padding-top: 4px;
	}
	
	.left-nav img {
		margin:5px 20px;
	}
	.left-ul a {
		padding: 0 10px;
		margin: 0 7px;
	}
	
	.current-a {
		border-bottom: 4px solid #fff;
	} 

	.left-ul a:hover{
		border-bottom: 4px solid #fff;
	}

	.right-nav div {
		float: left;
		display: inline-block;

	}
	.right-login {
		margin-left: 20px;
	}

	.right-login ul {
		display: inline-block;

	}

	.nav-name {
		display: inline-block;
		height: 20px;
		line-height: 60px;
		width: 200px;
		text-align: center;
	}

	.right-login li {
		float: left;
		color: #fff;
		line-height: 60px
	}

	.right-login a {
		cursor: pointer;
		color: #fff;
		display: inline-block;
		padding: 0 5px;
		line-height: 60px
	}	
	.right-login a:hover {
		color: #aaa;
	}



	.right-search {
	
	}

	.right-search input {
		border: 1px solid #fff;
		border-radius: 4px 0 0 4px;
		width: 170px;
		height: 33px;
		padding-left: 2px;
		margin-top: 12.5px;
	}
	.search-icon {
		
	}
	.search-icon span {
		width: 40px;
		height: 35px;
		border: 1px solid #fff;
		display: block;
		border-radius: 0 4px 4px 0;
		background: url(../images/search_icon.svg) #fff no-repeat center;
		margin-top: 13px ;
	}

	
	.footer a {
		position: fixed;
		right: 5%;
		bottom: 10%;
		width: 50px;
		height:50px;
		background: url(../images/gotop.svg) no-repeat center;
	}
	
	/*列表*/
	.main-content {
		background: #fff;
		height: auto;
		margin-top: 30px;
		border-radius: 3px;
		width: 870px;
		overflow: hidden;
	}

	.p-title {
		width: 100%;
		height: 42px;
		line-height: 42px;
		color: #333;
		font-weight: bold;
		border-bottom: 2px solid #8DB5D0;
		padding-left: 10px;

	}

	.content-list {
		height: 94px;
		width: 100%;
		border-bottom: 1px solid #e2e2e2;
	}

	.collect-a {
		width:20px;
		height: 20px;
		display: inline-block;
		background: url(../images/collect_icon.svg);
		float: left;
		margin-left: 40px;
		margin-top: 37px;
	}
	
	.collect-a:hover {
		background: url(../images/collect_icon_hover.svg);
	}
	.conten-detail {
		float: left;
		overflow: hidden;
		margin-left: 20px;
		height: 50px;
		margin-top: 22px;
		width: 700px;
	}
	
	.conten-detail h1 {
		display:block;                     /*内联对象需加*/
		width: 100%;
		word-break:keep-all;           /* 不换行 */
		white-space:nowrap;          /* 不换行 */
		overflow:hidden;               /* 内容超出宽度时隐藏超出部分的内容 */
		text-overflow:ellipsis;         /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
		cursor: pointer;
	}

	.conten-detail h1:hover {
		text-decoration: underline;
	}
	.conten-detail p {
		margin-top: 10px;
		display:block;                     /*内联对象需加*/
		width: 100%;
		word-break:keep-all;           /* 不换行 */
		white-space:nowrap;          /* 不换行 */
		overflow:hidden;               /* 内容超出宽度时隐藏超出部分的内容 */
		text-overflow:ellipsis;       
	}
	.conten-detail p span {
		margin-left: 5px;
	}
	.conten-detail p a {
		color: #2782EF;
		cursor: pointer;
		margin-left: 5px;
	}

	.conten-detail p a:hover {
		text-decoration: underline;
	}
	.left-content {
		width: 870px;
		float: left;
		height: 280px;
	}

 	/*//登录注册*/

	.login-dialog {
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		position: fixed;
		left: 0;
		top: 0;
		display: none;
	}
	
	.lg-model {
		width: 400px;
		height: auto;
		background: #fff;
		border-radius: 4px;
		margin: 0 auto;
		margin-top: 10%;
		padding-bottom: 30px;
		position: relative;
		
	}
	
	.lg-title h1 {
		position: relative;
		height: 40px;
		line-height: 40px;
		border: 1px solid #eee;
		text-align: left;
		text-indent: 10px;
		color: #333;
		border-radius: 4px 4px 0 0;
	}

	#close {
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;
		background: url(../images/delete_icon2.png) no-repeat center center;
		background-size: 12px 12px;
		cursor: pointer;
	}
	
	#close:hover {
		background: url(../images/delete_icon2_hover.png) no-repeat center center;
		background-size: 12px 12px;
	}

	.lg-title input[type='text'],.lg-title input[type='password'] {
		display: block;
		width: 360px;
		height: 37px;
		margin: 10px auto;
		border-radius: 4px;
		outline: none;
		border: 1px solid #adadad;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		text-indent: 10px;
	}

	.lg-title input[type='text'] {
		margin-top: 20px;
	}

	.lg-title input:focus {
		border: 1px solid #3498db;
	}

	#go-login-regist {
		display: block;
		float:right;
		margin-right: 13px;
		color: #3498db;
		text-decoration: underline;
		cursor: pointer;
	}
	
	.erro-info {
		display: block;
		width: 100%;
		color: red;
		float: left;
		text-indent: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		display: none;
	}

	.lg-title input[type='button'] {
		clear: right;
		display: block;
		width: 360px;
		height: 40px;
		margin: 0 auto;
		border-radius: 4px;
		outline: none;
		cursor: pointer;
		border: 1px solid #adadad;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		text-align: center;
		background: #3498db;
		color: #fff;
		font-size: 16px;
		margin-top: 50px;
	}

	.sucess-info {
		display: none;
		height: 30px;
		border-radius: 5px;
		background-color: #333;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -30px;
		color: #fff;
		font-size: 14px;
		text-align: center;
		line-height: 30px;
		padding: 0 10px;
		min-width: 50px;
	}